form {
  display: flex;
  flex-direction: column;
  padding: 0 20% 20% 20%;
}

label {
  margin: 0.5rem 0 0.2rem;
}

input, select, button {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #F2C6CC;
  margin-bottom: 1rem;
}

button {
  background-color: #A4C3A2;
  color: #fbf3e9;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #F2C6CC;
  color: #4B3B2A;
  font-size: 1.5rem;
}

input:focus,
button:focus {
  outline: 2px solid #F2C6CC;
}
