article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
    width: 30%;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

h2 {
  text-align: center;
  padding: 2% 1% 1% 1%;
}

ul {
  border-left: 10px solid #F2C6CC;
}

h3 {
  border-bottom: 5px solid #A4C3A2;
  border-radius: 10px;
  padding-bottom: 1%;
}


img {
  border-radius: 5%;
}
